<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Of Inflation</title>
    <link rel="stylesheet" href="../Styles/base.css">
    <link rel="stylesheet" href="../Styles/sidebar.css">
    <link rel="stylesheet" href="../Styles/content.css">
    <link rel="stylesheet" href="../Styles/notification.css">
    <link rel="stylesheet" href="../Styles/dialogBox.css">
    <link rel="stylesheet" href="../Styles/settings.css">
    <link rel="stylesheet" href="../Styles/informationTab.css">
    <link rel="stylesheet" href="../Styles/boardOfInflation.css">
    <script src="../Scripts/jquery.min.js"></script>
    <script src="../Scripts/boardOfInflation.js"></script>
</head>
<body>
    <div id="container" class="theme-dark row">
        <div class="hiddenDialogBox" id="dialogBox"></div>
        <div id="notifications"></div>
        <div id="sidebar">
            <div class="gameTitle">
                Board of Inflation
            </div>
            <div class="sidebarMenu">
                <div class="sidebarMenuItem interactable" id="goBackToHub">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#888"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
                    Return To Hub
                </div>
            </div>
            <div class="sidebarMenu">
                <div class="sidebarMenuTitle">
                    Miscellaneous
                </div>
                <div class="sidebarMenuItem interactable" id="options">
                    Settings
                </div>
                <div class="sidebarMenuItem interactable" id="information">
                    Information
                </div>
            </div>
            <div class="sidebarMenu" id="mainMenu">
                <div class="sidebarMenuTitle">
                    Main
                </div>
                <div class="sidebarMenuItem interactable" id="gameMenuItem">
                    Game
                </div>
            </div>
        </div>
        <div class="content">
            <div id="close-open" class="interactable">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="49px"
                    viewBox="0 -960 960 960"
                    width="49px"
                    fill="#888"
                >
                    <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
                </svg>
            </div>
            <div id="view">
                <div id="subMenuInView">
                    <div class="subMenuItem selectedSubMenuItem">
                        Main
                    </div>
                </div>
                <div class="mainView">
                    <div class="statDisplays">    
                        <div class="diceContainer">
                            <div id="diceResults">-</div>
                            <div id="rollDice" class="interactable">ROLL DICE</div>
                        </div>
                        <div class="playerInfoContainer">
                            <div id="playerPoints">Points: 1</div>
                            <div id="playerStars">Stars: 0</div>
                        </div>
                        <div class="playerEffects hiddenPart" id="playerEffects">
                            <div class="playerEffectsColumn">
                                <div class="effectItem hiddenPart id="noRedSquareDivisions">
                                    <div class="effectName">
                                        No Red Square Divisions
                                    </div>
                                    <div class="effectDuration" id="noRedSquareDivisionsDuration">
                                        3 Turns left
                                    </div>
                                </div>
                                <div class="effectItem hiddenPart" id="keyOfInfinity">
                                    <div class="effectName">
                                        Key Of Infinity
                                    </div>
                                    <div class="effectDuration" id="keyOfInfinityDuration">
                                        x turns left
                                    </div>
                                </div>    
                            </div>
                            <div class="playerEffectsColumn">
                                <div class="effectItem hiddenPart" id="lockpickKit">
                                    <div class="effectName">
                                        lockpick kit
                                    </div>
                                    <div class="effectDuration" id="lockpickKitDuration">
                                        x uses left
                                    </div>
                                </div>
                                <div class="effectItem hiddenPart" id="rerolls">
                                    <div class="effectName">
                                        Rerolls
                                    </div>
                                    <div class="effectDuration" id="rerollsDuration">
                                        x uses left
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <svg viewBox="0 0 1200 500" width="100%" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" class="board">
                        <g class="tile-center">
                            <path d="M 550 250 L 600 200 L 650 250 L 600 300" stroke="gray" fill="blue"/>
                            <text x="570" y="260" font-size="35">x10</text>
                        </g>
                        <g class="boardRightSide">
                            <g class="tile-multiplier">
                                <path d="M 600 200 L 650 150 L 700 200 L 650 250" stroke="gray" fill="green"/>
                                <text x="630" y="210" font-size="35">x2</text>
                            </g>
                            <g class="tile-divider">
                                <path d="M 650 150 L 700 100 L 750 150 L 700 200" stroke="gray" fill="red"/>
                                <text x="685" y="160" font-size="35">/4</text>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 700 100 L 785 55 L 810 125 L 750 150" stroke="gray" fill="green"/>
                                <text x="743" y="117" font-size="35">x2</text>
                            </g>
                            <g class="tile-divider">
                                <path d="M 785 55 L 860 45 L 870 110 L 810 125" stroke="gray" fill="red"/>
                                <text x="815" y="95" font-size="35">/5</text>
                            </g>
                            <g class="tile-shop">
                                <path d="M 860 45 L 970 45 L 960 110 L 870 110" stroke="gray" fill="orange"/>
                                <text x="875" y="88" font-size="30">SHOP</text>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 970 45 L 1055 55 L 1040 125 L 960 110" stroke="gray" fill="green"/>
                                <text x="990" y="95" font-size="35">x4</text>
                            </g>
                            <g class="tile-divider">
                                <path d="M 1055 55 L 1040 125 L 1075 150 L 1135 125" stroke="gray" fill="red"/>
                                <text x="1062" y="125" font-size="35">/4</text>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 1075 150 L 1135 125 L 1175 185 L 1100 210" stroke="gray" fill="green"/>
                                <text x="1100" y="180" font-size="35">x2</text>
                            </g>
                            <g class="tile-starShop">
                                <path d="M 1175 185 L 1100 210 L 1100 290 L 1175 315" stroke="gray" fill="gray"/>
                                <path d="M 1110 250 L 1127 245 L 1135 225 L 1142 245 L 1160 250 L 1145 255 L 1150 275 L 1135 262 L 1120 275 L 1125 255" fill="yellow"/>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 1100 290 L 1175 315 L 1135 375 L 1075 350" stroke="gray" fill="green"/>
                                <text x="1100" y="340" font-size="35">x2</text>
                            </g>
                            <g class="tile-divider">
                                <path d="M 1135 375 L 1075 350 L 1040 375 L 1055 445" stroke="gray" fill="red"/>
                                <text x="1060" y="400" font-size="35">/2</text>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 1040 375 L 1055 445 L 970 455 L 960 390" stroke="gray" fill="green"/>
                                <text x="990" y="425" font-size="35">x4</text>
                            </g>
                            <g class="tile-bet">
                                <path d="M 970 455 L 960 390 L 870 390 L 860 455" stroke="gray" fill="darkGreen"/>
                                <text x="888" y="432" font-size="30">BET</text>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 870 390 L 860 455 L 785 445 L 810 375" stroke="gray" fill="green"/>
                                <text x="815" y="430" font-size="35">x5</text>
                            </g>
                            <g class="tile-divider">
                                <path d="M 785 445 L 810 375 L 750 350 L 700 400" stroke="gray" fill="red"/>
                                <text x="745" y="405" font-size="35">/4</text>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 750 350 L 700 400 L 650 350 L 700 300" stroke="gray" fill="green"/>
                                <text x="680" y="360"  font-size="35">x2</text>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 650 350 L 700 300 L 650 250 L 600 300" stroke="gray" fill="green"/>
                                <text x="630" y="310"  font-size="35">x4</text>
                            </g>
                        </g>
                        <g class="eyeOfInfinity">
                            <g class="tile-eyeOfInfinity">
                                <path d="M 1100 210 L 1100 290 L 1000 290 L 1000 210" stroke="black" fill="gray"/>
                                <image x="1012" y="215" width="72px" height="72px" href="../Images/BoardOfInflation/lock.png"/>
                            </g>
                            <g class="tile-eyeOfInfinity">
                                <path d="M 1000 210 L 1000 290 L 950 275 L 950 225" stroke="black" fill="gray"/>
                            </g>
                            <g class="tile-eyeOfInfinity">
                                <path d="M 1000 290 L 950 275 L 925 300 L 950 350" stroke="black" fill="gray"/>
                            </g>
                            <g class="tile-eyeOfInfinity">
                                <path d="M 925 300 L 950 350 L 850 350 L 875 300" stroke="black" fill="gray"/>
                            </g>
                            <g class="tile-eyeOfInfinity">
                                <path d="M 875 300 L 850 350 L 800 300 L 850 275" stroke="black" fill="gray"/>
                            </g>
                            <g class="tile-eyeOfInfinity">
                                <path d="M 800 200 L 800 300 L 850 275 L 850 225" stroke="black" fill="orange"/>
                                <text x="806" y="255" font-size="30" fill="black">x</text>
                                <text x="826" y="240" font-size="30" fill="black" rotate="90">8</text>
                            </g>
                            <g class="tile-eyeOfInfinity">
                                <path d="M 1000 210 L 950 225 L 925 200 L 950 150" stroke="black" fill="gray"/>
                            </g>
                            <g class="tile-eyeOfInfinity">
                                <path d="M 925 200 L 950 150 L 850 150 L 875 200" stroke="black" fill="gray"/>
                            </g>
                            <g class="tile-eyeOfInfinity">
                                <path d="M 875 200 L 850 150 L 800 200 L 850 225" stroke="black" fill="gray"/>
                            </g>
                        </g>
                        <g class="boardLeftSide">
                            <g class="tile-multiplier">
                                <path d="M 600 200 L 550 150 L 500 200 L 550 250" stroke="gray" fill="green"/>
                                <text x="530" y="210"  font-size="35">x2</text>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 550 150 L 500 100 L 450 150 L 500 200" stroke="gray" fill="green"/>
                                <text x="480" y="160" font-size="35">x4</text>
                            </g>
                            <g class="tile-divider">
                                <path d="M 500 100 L 415 55 L 390 125 L 450 150" stroke="gray" fill="red"/>
                                <text x="425" y="120" font-size="35">/4</text>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 415 55 L 340 45 L 330 110 L 390 125" stroke="gray" fill="green"/>
                                <text x="350" y="95" font-size="35">x5</text>
                            </g>
                            <g class="tile-shop">
                                <path d="M 340 45 L 230 45 L 240 110 L 330 110" stroke="gray" fill="orange"/>
                                <text x="248" y="88" font-size="30">SHOP</text>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 230 45 L 145 55 L 160 125 L 240 110" stroke="gray" fill="green"/>
                                <text x="178" y="95" font-size="35">x4</text>
                            </g>
                            <g class="tile-divider">
                                <path d="M 145 55 L 160 125 L 125 150 L 65 125" stroke="gray" fill="red"/>
                                <text x="108" y="126" font-size="35">/2</text>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 125 150 L 65 125 L 25 185 L 100 210" stroke="gray" fill="green"/>
                                <text x="60" y="180" font-size="35">x2</text>
                            </g>
                            <g class="tile-superShop">
                                <path d="M 25 185 L 100 210 L 100 290 L 25 315" stroke="gray" fill="darkorange"/>
                                <text x="30" y="245" font-size="22">SUPER</text>
                                <text x="35" y="270" font-size="22">SHOP</text>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 100 290 L 25 315 L 65 375 L 125 350" stroke="gray" fill="green"/>
                                <text x="60" y="340" font-size="35">x2</text>
                            </g>
                            <g class="tile-divider">
                                <path d="M 65 375 L 125 350 L 160 375 L 145 445" stroke="gray" fill="red"/>
                                <text x="110" y="400" font-size="35">/4</text>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 160 375 L 145 445 L 230 455 L 240 390" stroke="gray" fill="green"/>
                                <text x="175" y="425" font-size="35">x4</text>
                            </g>
                            <g class="tile-bet">
                                <path d="M 230 455 L 240 390 L 330 390 L 340 455" stroke="gray" fill="darkGreen"/>
                                <text x="255" y="432" font-size="30">BET</text>
                            </g>
                            <g class="tile-divider">
                                <path d="M 330 390 L 340 455 L 415 445 L 390 375" stroke="gray" fill="red"/>
                                <text x="355" y="425" font-size="35">/5</text>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 415 445 L 390 375 L 450 350 L 500 400" stroke="gray" fill="green"/>
                                <text x="417" y="403" font-size="35">x2</text>
                            </g>
                            <g class="tile-multiplier">
                                <path d="M 450 350 L 500 400 L 550 350 L 500 300" stroke="gray" fill="green"/>
                                <text x="480" y="360" font-size="35">x2</text>
                            </g>
                            <g class="tile-divider">
                                <path d="M 550 350 L 600 300 L 550 250 L 500 300" stroke="gray" fill="red"/>
                                <text x="535" y="310" font-size="35">/2</text>
                            </g>
                        </g>
                        <g id="playerPositionIndicator">
                        </g>
                        
                        <g id="shadowPositionIndicator" class="hiddenPart">
                            <circle r="30" cx="600" cy="250" fill="rgba(0, 0, 0, 0.5)" stroke="black"/>
                            <text x="590" y="260" font-size="35">s</text>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</body>
</html>