<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards Of Infinity</title>
    <link rel="stylesheet" href="../Styles/base.css">
    <link rel="stylesheet" href="../Styles/sidebar.css">
    <link rel="stylesheet" href="../Styles/content.css">
    <link rel="stylesheet" href="../Styles/notification.css">
    <link rel="stylesheet" href="../Styles/dialogBox.css">
    <link rel="stylesheet" href="../Styles/settings.css">
    <link rel="stylesheet" href="../Styles/informationTab.css">
    <link rel="stylesheet" href="../Styles/cardsOfInfinity.css">
    <script src="../Scripts/jquery.min.js"></script>
    <script src="../Scripts/cardsOfInfinity.js"></script>
</head>
<body>
    <div id="container" class="theme-dark row">
        <div class="hiddenDialogBox" id="dialogBox"></div>
        <div id="notifications"></div>
        <div id="sidebar">
            <div class="gameTitle">
                Cards of Infinity
            </div>
            <div class="sidebarMenu">
                <div class="sidebarMenuItem interactable" id="goBackToHub">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#888"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
                    Return To Hub
                </div>
            </div>
            <div class="sidebarMenu">
                <div class="sidebarMenuTitle">
                    Miscellaneous
                </div>
                <div class="sidebarMenuItem interactable" id="options">
                    Settings
                </div>
                <div class="sidebarMenuItem interactable" id="information">
                    Information
                </div>
            </div>
            <div class="sidebarMenu" id="mainMenu">
                <div class="sidebarMenuTitle">
                    Main
                </div>
                <div class="sidebarMenuItem interactable" id="gameMenuItem">
                    Game
                </div>
            </div>
        </div>
        <div class="content">
            <div id="close-open" class="interactable">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="49px"
                    viewBox="0 -960 960 960"
                    width="49px"
                    fill="#888"
                >
                    <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
                </svg>
            </div>
            <div id="view">
                <!--difficulty select-->
                <div id="subMenuInView">
                    <div class="subMenuItem selectedSubMenuItem">
                        Main
                    </div>
                </div>
                <div class="mainView">
                    <div class="gameMainMenu">
                        <div class="gameDifficultySelect">
                            <div class="gameDifficultySelectTitle">
                                Select Difficulty
                            </div>
                            <div class="difficulties">
                                <svg height="75" width="200" xmlns="http://www.w3.org/2000/svg" id="easyDifficulty" class="interactable difficulty">
                                    <path d="M5 60 L15 0 L190 0  L180 60 Z" style="fill:none;stroke:green;stroke-width:3" />
                                    <text x="50" y="45" fill="green" font-size="45">Easy</text>
                                </svg>
                                <svg height="75" width="200" xmlns="http://www.w3.org/2000/svg" id="mediumDifficulty" class="interactable difficulty">
                                    <path d="M5 60 L15 0 L190 0  L180 60 Z" style="fill:none;stroke:orange;stroke-width:3" />
                                    <text x="22" y="45" fill="orange" font-size="45">Medium</text>
                                </svg>
                                <svg height="75" width="200" xmlns="http://www.w3.org/2000/svg" id="hardDifficulty" class="interactable difficulty">
                                    <path d="M5 60 L15 0 L190 0  L180 60 Z" style="fill:none;stroke:red;stroke-width:3" />
                                    <text x="50" y="45" fill="red" font-size="45">Hard</text>
                                </svg>
                                <svg height="75" width="200" xmlns="http://www.w3.org/2000/svg" id="customDifficulty" class="interactable difficulty">
                                    <path d="M5 60 L15 0 L190 0  L180 60 Z" style="fill:none;stroke:gray;stroke-width:3" />
                                    <text x="25" y="45" fill="gray" font-size="45">Custom</text>
                                </svg>
                            </div>
                        </div>
                        <div id="currentdifficulty">
                            <div class="currentDifficultyInfo">
                                <div class="difficultyInfoLeftSide currentDifficultyInfoTitle">
                                    No difficulty selected
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--pre game menu-->
                <div id="subMenuInView1">
                    <div class="subMenuItem selectedSubMenuItem gameStats">
                        <div>
                            Points: <span id="points">1</span>
                        </div>
                        <div>
                            Picks left: <span id="picksLeft">0</span> / 2
                        </div>
                    </div>
                </div>
                <div class="mainView">
                    <div id="pauseMenu" class="hiddenPart">
                        <div class="preGameMenu theme-dark">
                        <div class="currentDifficultyInfo">
                        <div class="difficultyInfoLeftSide">
                            <div class="currentDifficultyInfoTitle">
                                Game paused
                            </div>
                            
                                <div class="currentDifficultyInfoPersonalBest">
                                    Personal Best: 1:57:406
                                </div>
                                <div class="medalInfo">
                                    <div class="currentDifficultyInfoTitle">
                                        Medal times
                                    </div>
                                    <div class="medalTime">
                                    bronze: 10:00:000
                                    </div>
                                    <div class="medalTime">
                                    silver: 7:30:000
                                    </div>
                                    <div class="medalTime">
                                    gold: 4:00:000
                                    </div>
                                    
                                        <div class="medalTime">
                                        champion: 2:00:000
                                        </div>
                                    
                                </div>
                                
                        </div>
                        <div class="currentDifficultyMedal">
                            <img src="../Images/MedalImages/championMedal.png" alt="Champion Medal" class="currentDifficultyMedalImage">
                        </div>
                        </div>
                        <div class="startOptions">
                            <div class="startOption interactable" id="pauseOptionResume">
                                Resume
                            </div>
                            <div class="startOption interactable" id="pauseOptionClose">
                                Exit to difficulty selection
                            </div>
                        </div>
                    </div>
                    
                    </div>
                    <div id="game">
                    <div class="preGameMenu">
                        <div class="currentDifficultyInfo">
                        <div class="difficultyInfoLeftSide">
                            <div class="currentDifficultyInfoTitle">
                                Easy Difficulty
                            </div>
                            
                                <div class="currentDifficultyInfoPersonalBest">
                                    Personal Best: 1:57:406
                                </div>
                                <div class="medalInfo">
                                    <div class="currentDifficultyInfoTitle">
                                        Medal times
                                    </div>
                                    <div class="medalTime">
                                    bronze: 10:00:000
                                    </div>
                                    <div class="medalTime">
                                    silver: 7:30:000
                                    </div>
                                    <div class="medalTime">
                                    gold: 4:00:000
                                    </div>
                                    
                                        <div class="medalTime">
                                        champion: 2:00:000
                                        </div>
                                    
                                </div>
                                
                        </div>
                        <div class="currentDifficultyMedal">
                            <img src="../Images/MedalImages/championMedal.png" alt="Champion Medal" class="currentDifficultyMedalImage">
                        </div>
                        </div>
                        <div class="startOptions">
                            
                                    <div class="startOption interactable" id="startOptionBronze">
                                        Play against Bronze
                                    </div>
                                    <div class="startOption interactable" id="startOptionSilver">
                                        Play against Silver
                                    </div>
                                    <div class="startOption interactable" id="startOptionGold">
                                        Play against Gold
                                    </div>
                                    
                                            <div class="startOption interactable" id="startOptionChampion">
                                                Play against Champion
                                            </div>
                                        
                                
                            <div class="startOption interactable" id="startOptionPB">
                                Play against Personal best 
                            </div>
                            <div class="startOption interactable" id="startOptionClose">
                                Go back to difficulty selection
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!--paused game-->
                <div id="subMenuInView2">
                    <div class="subMenuItem selectedSubMenuItem gameStats">
                        <div>
                            Points: <span id="points1">1</span>
                        </div>
                        <div>
                            Picks left: <span id="picksLeft1">0</span> / 2
                        </div>
                    </div>
                </div>
                <div class="mainView">
                    <div id="pauseMenu1" class="">
                        <div class="preGameMenu theme-dark">
                        <div class="currentDifficultyInfo">
                        <div class="difficultyInfoLeftSide">
                            <div class="currentDifficultyInfoTitle">
                                Game paused
                            </div>
                            
                                <div class="currentDifficultyInfoPersonalBest">
                                    Personal Best: 1:57:406
                                </div>
                                <div class="medalInfo">
                                    <div class="currentDifficultyInfoTitle">
                                        Medal times
                                    </div>
                                    <div class="medalTime">
                                    bronze: 10:00:000
                                    </div>
                                    <div class="medalTime">
                                    silver: 7:30:000
                                    </div>
                                    <div class="medalTime">
                                    gold: 4:00:000
                                    </div>
                                    
                                        <div class="medalTime">
                                        champion: 2:00:000
                                        </div>
                                    
                                </div>
                                
                        </div>
                        <div class="currentDifficultyMedal">
                            <img src="../Images/MedalImages/championMedal.png" alt="Champion Medal" class="currentDifficultyMedalImage">
                        </div>
                        </div>
                        <div class="startOptions">
                            <div class="startOption interactable" id="pauseOptionResume1">
                                Resume
                            </div>
                            <div class="startOption interactable" id="pauseOptionClose1">
                                Exit to difficulty selection
                            </div>
                        </div>
                    </div>
                    
                    </div>
                    <div id="game1">
                    <div class="mainView cardsContainer">
                        <div id="pauseButton" class="interactable">
                            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e3e3e3">
                                <path d="M525-200v-560h235v560H525Zm-325 0v-560h235v560H200Zm385-60h115v-440H585v440Zm-325 0h115v-440H260v440Zm0-440v440-440Zm325 0v440-440Z"></path>
                            </svg>
                        </div>
                        <div id="timer">0:01:876</div>
                    
                        <div class="card" id="card0">
                            <div class="card cardBackside" id="cardBackside0">
                                <img src="../Images/CardsOfInfinity/CoICardBackside.png" alt="Cards Of Infinity Card Backside">
                            </div>
                            <div class="card type-greenOuter hiddenPart" id="cardFrontside0">
                                <div class="theme-dark cardInnerCircle type-greenInner">
                                    x2
                                </div>
                                <div class="cardCornerPieces">
                                    <div class="cardCornerPieceTopLeft">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceTopRight">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceBottomLeft">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceBottomRight">
                                        x2
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="card" id="card1">
                            <div class="card cardBackside" id="cardBackside1">
                                <img src="../Images/CardsOfInfinity/CoICardBackside.png" alt="Cards Of Infinity Card Backside">
                            </div>
                            <div class="card type-greenOuter hiddenPart" id="cardFrontside1">
                                <div class="theme-dark cardInnerCircle type-greenInner">
                                    x2
                                </div>
                                <div class="cardCornerPieces">
                                    <div class="cardCornerPieceTopLeft">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceTopRight">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceBottomLeft">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceBottomRight">
                                        x2
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="card" id="card2">
                            <div class="card cardBackside" id="cardBackside2">
                                <img src="../Images/CardsOfInfinity/CoICardBackside.png" alt="Cards Of Infinity Card Backside">
                            </div>
                            <div class="card type-greenOuter hiddenPart" id="cardFrontside2">
                                <div class="theme-dark cardInnerCircle type-greenInner">
                                    /10
                                </div>
                                <div class="cardCornerPieces">
                                    <div class="cardCornerPieceTopLeft">
                                        /10
                                    </div>
                                    <div class="cardCornerPieceTopRight">
                                        /10
                                    </div>
                                    <div class="cardCornerPieceBottomLeft">
                                        /10
                                    </div>
                                    <div class="cardCornerPieceBottomRight">
                                        /10
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="card" id="card3">
                            <div class="card cardBackside" id="cardBackside3">
                                <img src="../Images/CardsOfInfinity/CoICardBackside.png" alt="Cards Of Infinity Card Backside">
                            </div>
                            <div class="card type-redOuter hiddenPart" id="cardFrontside3">
                                <div class="theme-dark cardInnerCircle type-redInner">
                                    x2
                                </div>
                                <div class="cardCornerPieces">
                                    <div class="cardCornerPieceTopLeft">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceTopRight">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceBottomLeft">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceBottomRight">
                                        x2
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="card" id="card4">
                            <div class="card cardBackside" id="cardBackside4">
                                <img src="../Images/CardsOfInfinity/CoICardBackside.png" alt="Cards Of Infinity Card Backside">
                            </div>
                            <div class="card type-yellowOuter hiddenPart" id="cardFrontside4">
                                <div class="theme-dark cardInnerCircle type-yellowInner">
                                    x2
                                </div>
                                <div class="cardCornerPieces">
                                    <div class="cardCornerPieceTopLeft">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceTopRight">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceBottomLeft">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceBottomRight">
                                        x2
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="card" id="card5">
                            <div class="card cardBackside" id="cardBackside5">
                                <img src="../Images/CardsOfInfinity/CoICardBackside.png" alt="Cards Of Infinity Card Backside">
                            </div>
                            <div class="card type-greenOuter hiddenPart" id="cardFrontside5">
                                <div class="theme-dark cardInnerCircle type-greenInner">
                                    /10
                                </div>
                                <div class="cardCornerPieces">
                                    <div class="cardCornerPieceTopLeft">
                                        /10
                                    </div>
                                    <div class="cardCornerPieceTopRight">
                                        /10
                                    </div>
                                    <div class="cardCornerPieceBottomLeft">
                                        /10
                                    </div>
                                    <div class="cardCornerPieceBottomRight">
                                        /10
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="card" id="card6">
                            <div class="card cardBackside" id="cardBackside6">
                                <img src="../Images/CardsOfInfinity/CoICardBackside.png" alt="Cards Of Infinity Card Backside">
                            </div>
                            <div class="card type-yellowOuter hiddenPart" id="cardFrontside6">
                                <div class="theme-dark cardInnerCircle type-yellowInner">
                                    x2
                                </div>
                                <div class="cardCornerPieces">
                                    <div class="cardCornerPieceTopLeft">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceTopRight">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceBottomLeft">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceBottomRight">
                                        x2
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="card" id="card7">
                            <div class="card cardBackside" id="cardBackside7">
                                <img src="../Images/CardsOfInfinity/CoICardBackside.png" alt="Cards Of Infinity Card Backside">
                            </div>
                            <div class="card type-redOuter hiddenPart" id="cardFrontside7">
                                <div class="theme-dark cardInnerCircle type-redInner">
                                    x2
                                </div>
                                <div class="cardCornerPieces">
                                    <div class="cardCornerPieceTopLeft">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceTopRight">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceBottomLeft">
                                        x2
                                    </div>
                                    <div class="cardCornerPieceBottomRight">
                                        x2
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></div>
                </div>
                <!--information main-->
                <div id="subMenuInView3">
                    <div class="subMenuItem selectedSubMenuItem">
                        Main
                    </div>
                    <div id="changelogSubMenuItem" class="subMenuItem interactable">
                        Changelog
                    </div>
                </div>
                <div class="mainView">
                    <div class="gameRelatedMainInfo">
                        <div class="informationGameTitle">
                            mini-Infinity-games <br> Cards of Infinity
                        </div>
                        <div class="gameVersion">
                            V1: Release
                        </div>
                        <div class="gameAuthor">
                            Made by SzaeZal
                        </div>
                        <div class="credits">
                            Credits: <br>
                            <ul>
                                <li>Medal images by Trackmania (Trackmania is owned by Nadeo and Ubisoft)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--information changelog-->
                <div id="subMenuInView4">
                    <div class="subMenuItem interactable" id="mainInformationSubMenuItem">
                        Main
                    </div>
                    <div class="subMenuItem selectedSubMenuItem">
                        Changelog
                    </div>
                </div>
                <div class="mainView">
                    <div class="changelog">
                        <div class="version">
                            <div class="changelogVersionName">
                                V1: Release
                            </div>
                            <div class="changelogChanges">
                                <ul>
                                    <li>Initial release</li>
                                    <li>Added easy difficulty</li>
                                    <li>Added medium difficulty</li>
                                    <li>Added hard difficulty</li>
                                    <li>Added custom difficulty</li>
                                    <li>Added settings</li>
                                    <li>Added awful balancing</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>    
                <!--settings-->
                <div id="subMenuInView5">
                    <div class="subMenuItem selectedSubMenuItem">
                        Settings
                    </div>
                </div>
                <div class="mainView">
                    <div class="settings">
                        <div class="setting">
                            <div class="settingTitle">
                                Theme
                            </div>
                            <div class="options">
                                <div id="themeDarkOption" class="option interactable selectedOption">
                                    Dark
                                </div>
                                <div id="themeLightOption" class="option interactable ">
                                    Light
                                </div>
                            </div>
                        </div>
                        <div class="setting">
                            <div class="settingTitle">
                                Sub menu display
                            </div>
                            <div class="options">
                                <div id="subMenuDisplayShownOption" class="option interactable selectedOption">
                                    Shown
                                </div>
                                <div id="subMenuDisplayHiddenOption" class="option interactable ">
                                    Hidden
                                </div>
                            </div>
                        </div>
                        <div class="setting">
                            <div class="settingTitle">
                                Save Related
                            </div>
                            <div class="options">
                                <div id="exportSaveToClipboard" class="option interactable">
                                    Export Save to clipboard
                                </div>
                                <div id="importSave" class="option interactable">
                                    Import Save
                                </div>
                                <div id="hardReset" class="option danger interactable">
                                    Hard Reset
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    
</body>
</html>