<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards Of Infinity</title>
    <link rel="stylesheet" href="../Styles/base.css">
    <link rel="stylesheet" href="../Styles/cardsOfInfinity.css">
    <script src="../Scripts/jquery.min.js" defer></script>
</head>
<body class="theme-light">
    <div class="cardsContainer">
        <div class="card type-redOuter">
            <div class="theme-light cardInnerCircle type-redInner">
                x2
            </div>
            <div class="cardCornerPieces">
                <div class="cardCornerPieceTopLeft">
                    x2
                </div>
                <div class="cardCornerPieceTopRight">
                    x2
                </div>
                <div class="cardCornerPieceBottomLeft">
                    x2
                </div>
                <div class="cardCornerPieceBottomRight">
                    x2
                </div>
            </div>
        </div>
        <div class="card type-blueOuter">
            <div class="theme-light cardInnerCircle type-blueInner">
                x2
            </div>
            <div class="cardCornerPieces">
                <div class="cardCornerPieceTopLeft">
                    x2
                </div>
                <div class="cardCornerPieceTopRight">
                    x2
                </div>
                <div class="cardCornerPieceBottomLeft">
                    x2
                </div>
                <div class="cardCornerPieceBottomRight">
                    x2
                </div>
            </div>
        </div>
        <div class="card type-greenOuter">
            <div class="theme-light cardInnerCircle type-greenInner">
                x2
            </div>
            <div class="cardCornerPieces">
                <div class="cardCornerPieceTopLeft">
                    x2
                </div>
                <div class="cardCornerPieceTopRight">
                    x2
                </div>
                <div class="cardCornerPieceBottomLeft">
                    x2
                </div>
                <div class="cardCornerPieceBottomRight">
                    x2
                </div>
            </div>
        </div>
        <div class="card type-yellowOuter">
            <div class="theme-light cardInnerCircle type-yellowInner">
                x2
            </div>
            <div class="cardCornerPieces">
                <div class="cardCornerPieceTopLeft">
                    x2
                </div>
                <div class="cardCornerPieceTopRight">
                    x2
                </div>
                <div class="cardCornerPieceBottomLeft">
                    x2
                </div>
                <div class="cardCornerPieceBottomRight">
                    x2
                </div>
            </div>
        </div>
        <div class="card">
            <img src="../Images/CardsOfInfinity/CoICardBackside.png" alt="Cards Of Infinity Card Backside" class="cardBackside">
        </div>
    </div>
    
</body>
</html>