<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Replicanti Incremental</title>
    <link rel="stylesheet" href="../Styles/base.css">
    <link rel="stylesheet" href="../Styles/sidebar.css">
    <link rel="stylesheet" href="../Styles/content.css">
    <link rel="stylesheet" href="../Styles/replicantiDisplay.css">
    <script src="../Scripts/jquery.min.js"></script>
    <script src="../Scripts/replicantiIncremental.js"></script>
</head>
<body>
    <div id="container" class="theme-dark row">
        <div id="sidebar">
            <div class="gameTitle">
                Replicanti Incremental
            </div>
            <div class="sidebarMenu">
                <div class="sidebarMenuItem" id="goBackToHub">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
                    Return To Hub
                </div>
            </div>
            <div class="sidebarMenu">
                <div class="sidebarMenuTitle">
                    Miscellaneous
                </div>
                <div class="sidebarMenuItem" id="options">
                    Settings
                </div>
                <div class="sidebarMenuItem" id="information">
                    Information
                </div>
            </div>
            <div class="sidebarMenu" id="mainMenu">
                <div class="sidebarMenuTitle">
                    Layers
                </div>
                <div class="sidebarMenuItem" id="replicanti">
                    Replicanti
                </div>
                <div class="sidebarMenuItem" id="infinity">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm0-80h480v-400H240v400Zm240-120q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80ZM240-160v-400 400Z"/></svg>
                    Infinite replicanti
                </div>
            </div>
        </div>
        <div class="content">
            <div id="close-open">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="49px"
                    viewBox="0 -960 960 960"
                    width="49px"
                    fill="#e3e3e3"
                >
                    <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
                </svg>
            </div>
            <div id="view">
                <div id="subMenuInView">
                    <div class="subMenuItem selectedSubMenuItem">
                        Main
                    </div>
                </div>
                <div class="mainView">
                    <div id="currencyBar">
                        1 / 1.79e308 replicanti
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden" id="dialogBox"></div>
        <div id="notifications"></div>
    </div>
</body>
</html>