*{
    padding: 0;
    margin: 0;
    user-select: none;
}
#container{
    width: 100vw;
    height: 100vh;
}
.theme-dark{
    background-color: black;
    color: white;
}
.theme-light{
    background-color: white;
    color: black;
}
.row{
    display: flex;
    flex-direction: row;
}
.interactable{
    cursor: pointer;
    transition-duration: 0.25s;
}
