.mainView{
    height: calc(100vh - 100px);
}

.preGameMenu{
    border: 2px solid gray;
    border-radius: 15px;
    max-width: fit-content;
    margin: auto;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    min-width: 400px;
}
.playerStats, .effectsActive, .upgradesBought{
    padding: 10px;
}
.upgradesBought>ul{
    list-style-type: none;
}
.playerStats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.startGameSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: gray 2px solid;
}
.startGameButton{
    padding: 10px;
    transition-duration: 0.3s;
    text-align: center;
    flex: 1;
}
.startGameButton:hover{
    background-color: rgba(128, 128, 128, 0.5);
}
#continueGame{
    border-bottom-left-radius: 15px;
    border-right: 2px solid gray;
}
#resetSave{
    border-bottom-right-radius: 15px;
}
.mainView{
    position: relative;
}

#shopBox{
    position: absolute;
    top: 100px ;
    left: 50%;
    translate: -50% 0;
    display: flex;
    width: 50%;
    height: fit-content;
    overflow-y: auto;
    flex-direction: column;
    background-color: rgba(0, 0, 128, 1);
    border-radius: 15px;
    z-index: 100;
}
.shopHeader{
    position: sticky;
    top: 0;
}
.shopTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-indent: 10px;
}
#shopItems{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
    margin: 25px;
    overflow-x: auto;
    overflow-y: hidden;
}
.shopItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}
.itemImage{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    border: 5px solid gray; 
    line-height: 180px;
    font-size: small;
    text-align: center;
    transition-duration: 0.5s;
}
.shopItem:hover>.itemImage{
    box-shadow: 0 0 10px gray;
}
.itemTitle, .itemDescription{
    margin-bottom: 15px;
}
.shopItemDetailed{
    width: 100%;
}
#shopGoBack{
    position: absolute;
    top: 60px;
    left: 10px;
    transition-duration: 0.3s;
}
#shopGoBack:hover{
    scale: 1.2;
}
.itemBuy{
    margin-top: 15px;
    padding: 10px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid gray;
    transition-duration: 0.5s;
}
.itemBuy:hover{
    scale: 1.05;
    box-shadow: 0 0 10px gray;
}
.shopItem>div{
    text-align: center;
}
ul{
    padding: 10px;
    list-style-type: none;
}
ul>li::before{
    content: "- ";
}
.starShopRow{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.betContainer{
    background-color: rgba(0, 255, 0, 0.5);
    padding: 20px;
}
#betResult{
    margin-top: 15px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.board{
    bottom: 0;
    width: 98%;
}
.statDisplays{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 10;
}
.diceContainer,.diceResultsContainer , .playerInfoContainer, .playerEffects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    z-index: 10;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 10px;
    font-size: x-large;
    min-width: 200px;
}
.diceContainer{
    transition-duration: 0.3s;
}
.diceContainer:hover{
    background-color: rgba(128, 128, 128, 0.5);
    box-shadow: 0 0 5px gray;
}

.rolledNumberSelect{
    display: inline-block;
    width: 33%;
    text-align: center;
    margin-bottom: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    transition-duration: 0.3s;
}
.rolledNumberSelect:hover{
    background-color: rgba(0, 200, 0, 0.25);
    font-size: larger;
}
.selectedRolledNumber{
    background-color: rgba(0, 200, 0, 0.5);
}
.selectedRolledNumber:hover{
    background-color: rgba(0, 200, 0, 0.4);
    font-size: larger;
}
#selectNumbers, #reroll{
    display: inline-block;
    margin: auto;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    transition-duration: 0.3s;
    text-align: center;
}
#selectNumbers:hover, #reroll:hover{
    background-color: rgba(128, 128, 128, 0.25);
    font-size: larger;
}

#playerEffects{
    flex-direction: row;
}
.playerEffectsColumn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
}
.effectItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 5px;
    min-width: 150px;
}

#playerPositionIndicator{
    z-index: 5;
}

.hiddenPart{
    display: none;
}
