.board{
    bottom: 0;
    width: 98%;
}
.statDisplays{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 10;
}
.diceContainer, .playerInfoContainer, .playerEffects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 10;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 10px;
    font-size: x-large;
    min-width: 200px;
}

#playerEffects{
    flex-direction: row;
}
.playerEffectsColumn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
}
.effectItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 5px;
    min-width: 150px;
}

#playerPositionIndicator{
    z-index: 5;
}

.hiddenPart{
    display: none;
}
