.gameMainMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
}
.gameDifficultySelect{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
    gap: 50px;
    flex: 1;
}

.gameDifficultySelectTitle{
    font-size: x-large;
}

.difficulties{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    width: fit-content;
    flex-wrap: wrap;
}
.difficulty{
    transition-duration: 0.5s;
}
.difficulty:hover{
    scale: 1.05;
}

#currentdifficulty{
    flex: 2;
    border: gray 2px solid;
    border-radius: 25px;
    text-align: center;
    width: fit-content;
    margin: auto;
}

.currentDifficultyInfo{
    display: flex;
    min-height: fit-content;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}
.difficultyInfoLeftSide{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 25px;
}
.currentDifficultyMedal{
    padding: 25px;
    position: relative;
    width: 250px;
    height: 250px;
}
.currentDifficultyMedalImage{
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.noMedal{
    width: 250px;
    height: 250px;
    border: 3px dashed gray;
    border-radius: 125px;
}

.currentDifficultyInfoTitle{
    font-size: xx-large;
}
.currentDifficultyInfoPersonalBest{
    font-size: x-large;
}
#playGame{
    padding: 15px;
    border-radius: 15px;
    border: 1px gray solid;
    font-size: x-large;
}
#playGame:hover{
    scale: 1.05;
    box-shadow: 0 0 5px gray;
}

#game{
    position: relative;
    height: calc(100vh - 120px);
}
#pauseMenu{
    position: absolute;
    z-index: 100;
    width: fit-content;
    left: 50%;
    top: 40%;
    translate: -50% -50%;
}
#pauseButton{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.25s;
    z-index: 50;
}
#pauseButton:hover{
    scale: 1.2;
}
#timer{
    position: absolute;
    bottom: 10px;
    left: 50%;
    translate: -50% 0;
    font-size: x-large;
    padding: 10px;
    z-index: 50;
}

.preGameMenu{
    border: 2px solid gray;
    border-radius: 15px;
    max-width: fit-content;
    margin: auto;
}
.medalTime{
    text-align: center;
    font-size: larger;
}
.startOption{
    text-align: center;
    font-size: x-large;
    padding: 5px;
    border-top: 2px solid gray;
    transition-duration: 0.25s;
}
.startOption:hover{
    background-color: rgba(128, 128, 128, 0.5);
}

@keyframes countDown {
    from{
        scale: 10;
    }
    to{
        scale: 1;
    }
}
.countDownNumber{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    animation: countDown 950ms;
    font-size: large;
}

.cardsContainer{
    margin-top: inherit;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card, .cardBackside{
    width: 150px;
    height: 233px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cardBackside{
    border: 5px solid gray;
}
.cardBackside>img{
    width: 150px;
    height: 233px;
}
.cardInnerCircle{
    width: 125px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
}

.cardCornerPieces{
    position: absolute;
    width: 130px;
    height: 220px;
    border-radius: 10px;
    top: 10px;
    left: 10px;
    font-size: 1.5em;
    font-weight: bold;
}
.cardCornerPieceTopLeft{
    transform: rotate(0deg);
}
.cardCornerPieceTopRight{
    position: absolute;
    top: 0;
    right: 5px;
}
.cardCornerPieceBottomLeft{
    position: absolute;
    bottom: 0;
}
.cardCornerPieceBottomRight{
    position: absolute;
    right: 5px;
    bottom: 0;
}

.type-redOuter{
    background-color: #ff4d4d;
    border: 5px solid #b30000;
    color: white;
}
.type-redOuter .cardCornerPieces{
    color: #b30000;
}
.type-redInner{
    color: #ff4d4d;
}

.type-blueOuter{
    background-color: #4d79ff;
    border: 5px solid #0039e6;
    color: white;
}
.type-blueOuter .cardCornerPieces{
    color: #0039e6;
}
.type-blueInner{
    color: #4d79ff;
}

.type-greenOuter{
    background-color: #66ff66;
    border: 5px solid #00b300;
    color: white;
}
.type-greenOuter .cardCornerPieces{
    color: #00b300;
}
.type-greenInner{
    color: #66ff66;
}

.type-yellowOuter{
    background-color: #e6e600;
    border: 5px solid #b3b300;
    color: white;
}
.type-yellowOuter .cardCornerPieces{
    color: #b3b300;
}
.type-yellowInner{
    border: none;
    color: #e6e600;
}

@keyframes cardClosing{
    from{
        width: 150px;
    }
    to{
        width: 0;
    }
}

@keyframes cardOpening{
    from{
        width: 0;
    }
    to{
        width: 150px;
    }
}

.openCard{
    animation: cardOpening 0.125s ;
    width: 150px;
    overflow: hidden;
}
.closeCard{
    animation: cardClosing 0.125s;
    width: 0;
    overflow: hidden;
}

.hiddenPart{
    display: none;
}

.beatTargetTime{
    color: green;
}
.failedTargetTime{
    color: #b30000;
}
.equaledTargetTime{
    color: gray;
}

@keyframes newGainedMedal{
    from{
        scale: 1.5;
    }
    to{
        scale: 1;
    }
}
.gainMedal{
    animation: newGainedMedal 1s ;
}