.gamesContainer{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.gameBox{
    flex: 1;
    min-width: 50%;
    min-height: 50%;
    position: relative;
    padding: 25px;
    border: 3px solid gray;
    border-radius: 15px;
    margin: auto;
}
.game{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
.game>.gameTitle{
    height: 50px;
    display: flex;
    justify-content: center;
}
.gameContent{
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.gameDescription{
    margin: 15px;
    font-size: larger;
    text-align: justify;
    max-width: 50%;
}
.gameImages{
    position: relative;
    height: 90%;
    width: 45%;
}
.gameImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    max-width: 100%;
}
.scrollBar{
    width: 25px;
    height: 90%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
}
.scrollBarItem{
    flex: 1;
    transition-duration: 0.25s;
    border-bottom: 1px solid gray;
}
.scrollBarItem:hover{
    background-color: rgba(128, 128, 128, 0.5);
}
#scrollUpOnce, #scrollDownOnce{
    flex: 0;
    height: 25px;
}
.currentScrollItem{
    background-color: rgba(128, 128, 128, 0.5);
}