.gamesContainer{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.gameBox{
    flex: 1;
    min-width: 50%;
    width: fit-content;
    max-width: 85%;
    min-height: 60%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    padding: 25px;
    border: 3px solid gray;
    border-radius: 15px;
    margin: auto;
}
.game{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
.currentGame{
    top: 50%;
}
.game>.gameTitle{
    height: 50px;
    display: flex;
    justify-content: center;
}
.gameContent{
    height: calc(100% - 50px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.gameDescription{
    position: relative;
    margin: 15px;
    font-size: larger;
    text-align: justify;
    max-width: 50%;
    min-width: 500px;
}

@media screen and (max-width:865px) {
    .gameDescription{
        min-width: 90%;
        max-width: 90%;
        height: 70%;
        overflow: auto;
    }
    .gameImages{display: none;}
}
.gameDescription>a{
    display: block;
    text-decoration: none;
    color: inherit;
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    font-size: x-large;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 25px;
    transition-duration: 0.25s;
}
.gameDescription>a:hover{
    background-color: rgba(128, 128, 128, 0.5);
    transform: scale(1.15);
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
}
.gameImages{
    position: relative;
    height: 90%;
    width: 45%;
}
.gameImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
}
.scrollBar{
    width: 25px;
    height: 90%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
}
.scrollBarItem{
    flex: 1;
    transition-duration: 0.25s;
    border-bottom: 1px solid gray;
}
.scrollBarItem:hover{
    background-color: rgba(128, 128, 128, 0.5);
}
#scrollUpOnce, #scrollDownOnce{
    flex: 0;
    height: 25px;
}
.currentScrollItem{
    background-color: rgba(128, 128, 128, 0.5);
}

@keyframes previousGameMoveUp {
    from{
        top: 50%;
        opacity: 1;
        display: block;
    }
    to{
        top: -50%;
        opacity: 0;
        display: block;
    }
}

.previousGame{
    animation: previousGameMoveUp 0.75s;
}

@keyframes nextGameMoveUp {
    from{
        top: 150%;
        opacity: 0;
        display: block;
    }
    to{
        top: 50%;
        opacity: 1;
        display: block;
    }
}

.nextGame{
    animation: nextGameMoveUp 0.75s;
    top: 50%;
}