.mainView{
    position: relative;
    height: calc(100vh - 60px);
}
.gameDifficultySelect{
    position: absolute;
    top: calc(50% - 60px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    height: calc(100vh - 100px);
    width: 80%;
}
#difficulties{
    position: relative;
    flex: 3;
}
#difficultySelectLeft, #difficultySelectRight{
    flex: 1;
    z-index: 10;
    margin-top: 60px;
}
#difficultySelectLeft>svg, #difficultySelectRight>svg{
    transform: scale(2);
    transition-duration: 0.5s;
}
#difficultySelectLeft:hover>svg, #difficultySelectRight:hover>svg{
    transform: scale(2.5);
}
#difficultySelectRight{
    display: flex;
    justify-content: flex-end;
}
.difficultyOption{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    font-size: x-large;
    padding: 10px;
    border-radius: 15px;
    height: 350px;
    width: 75%;
    z-index: 1;
    opacity: 0.5;
    transition-duration: 0.5s;
}
.difficultyOption:hover{
    transform: translate(-50%, -50%) scale(1.1);
}
.difficultyOption>ul{
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    text-align: center;
}
.difficultyOption>ul>li{
    margin-bottom: 5px;
}
.selectDifficultyButton{
    border: 5px solid gray;
    border-radius: 10px;
    padding: 10px 30px;
    transition-duration: 0.5s;
}
.selectDifficultyButton:hover{
    transform: scale(1.15);
}
.highlightedDifficulty{
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    z-index: 5;
    opacity: 1;
}
.highlightedDifficulty:hover{
    transform: translate(-50%, -50%) scale(1.25);
}
.previouslySelectedDifficulty{
    position: absolute;
    top: 75px;
    left: 15%;
    transform: translate(-50%, -50%)
}
.nextSelectedDifficulty{
    position: absolute;
    top: 75px;
    left: 85%;
    transform: translate(-50%, -50%)
}

.easyDifficulty{
    background-color: rgb(0, 150, 0);
    border: 5px solid rgb(0, 100, 0);
}
.easyDifficulty .selectDifficultyButton{
    border-color: rgb(0, 100, 0);
}
.mediumDifficulty{
    background-color: rgb(200, 200, 0);
    border: 5px solid rgb(150, 150, 0);
}
.mediumDifficulty .selectDifficultyButton{
    border-color: rgb(150, 150, 0);
}
.hardDifficulty{
    background-color: rgb(200, 0, 0);
    border: 5px solid rgb(150, 0, 0);
}
.mediumDifficulty .selectDifficultyButton{
    border-color: rgb(150, 0, 0);
}

@media screen and (max-width: 800px) {
    .difficultyOption{
        font-size: x-large;
        padding: 10px;
        border-radius: 15px;
        max-height: 350px;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        z-index: 1;
        transition-duration: 0.5s;
    }
    .highlightedDifficulty{
        position: absolute;
        z-index: 5;
        opacity: 1;
    }
    .gameDifficultySelect{
        top: 50%;
    }
}