.hiddenPart{
    display: none;
}

.mainView{
    position: relative;
    height: calc(100vh - 60px);
}
.gameDifficultySelect{
    position: absolute;
    top: calc(50% - 60px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    height: calc(100vh - 100px);
    width: 80%;
}
#difficulties{
    position: relative;
    flex: 3;
}
#difficultySelectLeft, #difficultySelectRight{
    flex: 1;
    z-index: 10;
    margin-top: 60px;
}
#difficultySelectLeft>svg, #difficultySelectRight>svg{
    transform: scale(2);
    transition-duration: 0.5s;
}
#difficultySelectLeft:hover>svg, #difficultySelectRight:hover>svg{
    transform: scale(2.5);
}
#difficultySelectRight{
    display: flex;
    justify-content: flex-end;
}
.difficultyOption{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    font-size: x-large;
    padding: 10px;
    border-radius: 15px;
    height: 350px;
    width: 75%;
    z-index: 1;
    opacity: 0.5;
    transition-duration: 0.5s;
}
.difficultyOption:hover{
    transform: translate(-50%, -50%) scale(1.1);
}
.difficultyOption>ul{
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    text-align: center;
}
.difficultyOption>ul>li{
    margin-bottom: 5px;
}
.selectDifficultyButton{
    border: 5px solid gray;
    border-radius: 10px;
    padding: 10px 30px;
    transition-duration: 0.5s;
}
.selectDifficultyButton:hover{
    transform: scale(1.15);
}
.highlightedDifficulty{
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    z-index: 5;
    opacity: 1;
}
.highlightedDifficulty:hover{
    transform: translate(-50%, -50%) scale(1.25);
}
.previouslySelectedDifficulty{
    position: absolute;
    top: 75px;
    left: 15%;
    transform: translate(-50%, -50%)
}
.nextSelectedDifficulty{
    position: absolute;
    top: 75px;
    left: 85%;
    transform: translate(-50%, -50%)
}
.difficultyTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.easyDifficulty{
    background-color: rgb(0, 150, 0);
    border: 5px solid rgb(0, 100, 0);
}
.easyDifficulty .selectDifficultyButton{
    border-color: rgb(0, 100, 0);
}
.mediumDifficulty{
    background-color: rgb(200, 200, 0);
    border: 5px solid rgb(150, 150, 0);
}
.mediumDifficulty .selectDifficultyButton{
    border-color: rgb(150, 150, 0);
}
.hardDifficulty{
    background-color: rgb(200, 0, 0);
    border: 5px solid rgb(150, 0, 0);
}
.hardDifficulty .selectDifficultyButton{
    border-color: rgb(150, 0, 0);
}

@media screen and (max-width: 800px) {
    .difficultyOption{
        font-size: x-large;
        padding: 10px;
        border-radius: 15px;
        max-height: 350px;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        z-index: 1;
        transition-duration: 0.5s;
    }
    .highlightedDifficulty{
        position: absolute;
        z-index: 5;
        opacity: 1;
    }
    .gameDifficultySelect{
        top: 50%;
    }
}

@keyframes previouslySelectedDifficultyMoveToHighlighted {
    from{
        z-index: 1;
        opacity: 0.5;
        left: 15%;
        transform: translate(-50%, -50%) scale(1);
    }
    to{
        z-index: 5;
        opacity: 1;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.15);
    }
}

.previouslySelectedDifficultyMoveToHighlightedClass{
    animation: previouslySelectedDifficultyMoveToHighlighted 0.5s linear;
}

@keyframes nextSelectedDifficultyMoveToHighlighted {
    from{
        z-index: 1;
        opacity: 0.5;
        left: 85%;
        transform: translate(-50%, -50%) scale(1);
    }
    to{
        z-index: 5;
        opacity: 1;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.15);
    }
}

.nextSelectedDifficultyMoveToHighlightedClass{
    animation: nextSelectedDifficultyMoveToHighlighted 0.5s linear;
}

@keyframes highlightedDifficultyMoveToPrevious {
    from{
        z-index: 5;
        opacity: 1;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.15); 
    }
    to{
        z-index: 1;
        opacity: 0.5;
        left: 15%;
        transform: translate(-50%, -50%) scale(1);
    }
}

.highlightedDifficultyMoveToPreviousClass{
    animation: highlightedDifficultyMoveToPrevious 0.5s linear;
}

@keyframes highlightedDifficultyMoveToNext {
    from{
        z-index: 5;
        opacity: 1;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.15);
    }
    to{
        z-index: 1;
        opacity: 0.5;
        left: 85%;
        transform: translate(-50%, -50%) scale(1);
    }
}

.highlightedDifficultyMoveToNextClass{
    animation: highlightedDifficultyMoveToNext 0.5s linear;
}

.currentDifficultyInfo{
    position: absolute;
    top: 40%;
    left: 50%;
    max-width: 650px;
    width: fit-content;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border: 5px solid gray;
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.currentDifficultyInfoTitle{
    padding: 25px;
    max-width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}
.currentDifficultyMedal{
    width: 50px;
    height: 50px;
}
.noMedal{
    height: 50px;
    border: 2px dashed gray;
    border-radius: 25px;
}
.difficultyInfo{
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
}
.currentDifficultyInfoPersonalBest{
    align-self: center;
}
.medalInfo{
    list-style-type: none;
}
.startOption{
    text-align: center;
    font-size: x-large;
    padding: 5px;
    border-top: 2px solid gray;
    transition-duration: 0.25s;
}
.startOption:hover{
    background-color: rgba(128, 128, 128, 0.5);
}

@keyframes countDown {
    from{
        scale: 10;
    }
    to{
        scale: 1;
    }
}
.countDownNumber{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    animation: countDown 950ms;
    font-size: large;
}
@media screen and (max-width: 1500px) {
    .currentDifficultyInfo{
        top: calc(40%);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 640px;
    }
}

@media screen and (max-width: 1000px) {
    .currentDifficultyInfo{
        top: calc(50%);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
}

@media screen and (max-width: 750px) {
    .currentDifficultyInfo{
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 90%;
    }
}

#game{
    position: relative;
    height: calc(100vh - 120px);
}
#pauseMenu{
    position: absolute;
    z-index: 100;
    width: 100%;
    left: 50%;
    top: 40%;
    translate: -50% -50%;
}
#pauseButton{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.25s;
    z-index: 50;
}
#pauseButton:hover{
    scale: 1.2;
}
#timer{
    position: absolute;
    bottom: 10px;
    left: 50%;
    translate: -50% 0;
    font-size: x-large;
    padding: 10px;
    z-index: 50;
}

@keyframes newGainedMedal{
    from{
        scale: 1.5;
    }
    to{
        scale: 1;
    }
}
.gainMedal{
    animation: newGainedMedal 1s ;
}

.gateColumns{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90%;
    max-width: 90%;
    width: 90%;
}
.gateColumn{
    position: relative;
    flex: 1;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 10;
    transition-duration: 0.25s;
    border-left: 2px solid rgba(128, 128, 128, 0.5);
}
.gateColumn:last-child{
    border-right: 2px solid rgba(128, 128, 128, 0.5);
}
.gateColumn:hover{
    background-color: rgba(128, 128, 128, 0.25);
}
.gate{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    max-height: 50px;
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.gateColorNegative{
    background-color: rgba(255, 0, 0, 0.5);
}
.gateColorPositive{
    background-color: rgba(0, 255, 0, 0.5);
}
.gateNotColored{
    background-color: rgba(128, 128, 128, 0.5);
}
.playerPosition{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 25px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.hiddenPlayerPosition{
    display: none;
}