.currencyBar{
    width: 80%;
    margin: 10px auto;
    position: relative;
    font-size: larger;
    border-radius: 10px;
    padding: 5px;
    border: 2px gray solid;
    text-align: center;
}
.currencyStats{
  width: fit-content;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  font-size: medium;
}
.currencyStats>div{
  padding: 5px;
  max-width: fit-content;
}
.buyables{
  margin: 15px auto;
  width: fit-content;
  text-align: center;
}
.gap-50px{
  gap: 50px;
}
.subTitle{
  font-size: x-large;
  margin: 15px;
}
.buyable{
  border-radius: 5px;
  max-width: 250px;
  border: 3px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: large;
}
.buyable>div{
  padding: 10px;
}
.disclaimer{
  margin-top: 15px;
}
.buyable>.row{
  justify-content: space-around;
  padding: 0;
}
.buyableBuy1{
  border-top: 1px gray solid;
  border-right: 1px gray solid;
  flex: 1;
  padding: 5px;
}
.buyableBuyMax{
  border-top: 1px gray solid;
  flex: 1;
  padding: 5px;
}
.buyablePurchaseAble{
  background-color: rgba(0, 255, 0, 0.25);
  transition-duration: 0.25s;
}
.buyablePurchaseAble:hover{
  background-color: rgba(0, 255, 0, 0.35);
}
.maxedBuyable{
  border-color: rgba(0, 128, 0, 0.5);
}

#replicanti{
  background-color: rgba(0, 50, 128, 0.5);
  transition-duration: 0.25s;
}
#replicanti:hover{
  background-color: rgba(0, 50, 200, 0.5);
}

#infinity{
  background-color: rgba(100, 100, 0, 0.5);
  transition-duration: 0.25s;
}
#infinity:hover{
  background-color: rgba(125, 125, 0, 0.5);
}

.upgrades{
  margin: 15px auto;
  width: fit-content;
  text-align: center;
}
.upgradeRow{
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}
.upgrade{
  border: 5px solid gray;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  font-size: large;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
}
.purchaseAbleUpgrade{
  border-color: lime;
  background-color: rgba(0, 255, 0, 0.25);
  transition-duration: 0.25s;
}
.purchaseAbleUpgrade:hover{
  background-color: rgba(0, 255, 0, 0.35);
  box-shadow: 0px 0px 5px gray;
  scale: 1.025;
}

.boughtInfinityUpgrade{
  border-color: orange;
  background-color: rgba(255, 165, 0, 0.5);
}
.boughtInfinityUpgrade:hover{
  border-color: orange;
  background-color: rgba(255, 165, 0, 0.5);
}

#eternity{
  background-color: rgba(128, 0, 128, 0.5);
  transition-duration: 0.25s;
}
#eternity:hover{
  background-color: rgba(180, 0, 180, 0.5);
}

.challenges{
  margin: 15px auto;
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
  font-size: larger;
}

.challenge{
  border: 5px solid gray;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 15px;
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.challenge>div {
  padding: 10px;
}
.challengeEnter, .challengeExit{
  border: 2px solid gray;
  padding: 10px 20px;
  font-size: x-large;
  border-radius: 10px;
  transition-duration: 0.25s;
}
.challengeEnter:hover, .challengeExit:hover{
  box-shadow: 0px 0px 5px gray;
  scale: 1.025;
}

.boughtEternityUpgrade{
  border-color: purple;
  background-color: rgba(128, 0, 128, 0.5);
}
.boughtEternityUpgrade:hover{
  border-color: purple;
  background-color: rgba(128, 0, 128, 0.5);
}

.completedEternityChallenge{
  border-color: purple;
  background-color: rgba(128, 0, 128, 0.5);
}

input{
  font-size: large;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  width: 90%;
}

#gameSpeedChanger{
  position: absolute;
  bottom: 50px;
  left: 50%;
  padding: 15px;
  border: 2px solid gray;
  border-radius: 25px;
  transition-duration: 0.25s;
}
#gameSpeedChanger:hover{
  background-color: rgba(128, 128, 128, 0.25);
}