.settings{
    max-width: 90%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.setting{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}
.settingTitle{
    font-size: xx-large;
}
.options{
    display: flex;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
}
.option{
    font-size: xx-large;
    padding: 15px;
    min-width: 100px;
    max-width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px gray solid;
}
.option:hover{
    border: 2px rgba(128, 128, 128, 0.5) solid;
}
.danger{
    border: 2px red solid;
}
.danger:hover{
    border: 2px brown solid;
}

.selectedOption{
    border: 2px green solid;
}
.selectedOption:hover{
    border: 2px green solid;
}