@keyframes sidebarClose {
  from {
    width: 250px;
  }
  to {
    width: 0px;
  }
}

@keyframes sidebarOpen {
  0% {
    width: 0px;
    overflow: hidden;
  }
  100% {
    width: 250px;
  }
}

.openSidebar {
  animation: sidebarOpen 0.35s;
  width: 250px;
}
.closeSidebar {
  overflow: hidden;
  animation: sidebarClose 0.35s;
  width: 0px;
}
#close-open{
  border: 2px gray solid;
  border-left: none;
  position: absolute;
}
#close-open>svg{
  transition-duration: 0.5s;
}
#close-open:hover>svg{
  transform: scale(1.25);
}

#sidebar{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    border: 2px gray solid;
}

.gameTitle{
    max-width: 100%;
    padding: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 40px;
    border-bottom: 1px gray solid;
}
.sidebarMenu{
    display: flex;
    flex-direction: column;
    border-bottom: 1px gray solid;
}
.sidebarMenuTitle{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 2px;
}
.sidebarMenuItem{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 25px;
    border-bottom: 1px gray solid;
    transition-duration: 0.25s;
}
.sidebarMenuItem:hover{
    background-color: rgba(128, 128, 128, 0.5);
}

