#gameSpeedChanger{
  position: absolute;
  bottom: 50px;
  left: 50%;
  padding: 15px;
  border: 2px solid gray;
  border-radius: 25px;
  transition-duration: 0.25s;
}
#gameSpeedChanger:hover{
  background-color: rgba(128, 128, 128, 0.25);
}

#fightView{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#gameSpeed{
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.floorSelect{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-top: 25px;
  font-size: x-large;
}
.floorSelectItem{
  text-align: center;
  transition-duration: 0.25s;
}
.floorSelectItem:hover{
  transform: scale(1.25);
}
.inactiveFloorSelectItem{
  color: gray;
  opacity: 0.5;
}
.inactiveFloorSelectItem:hover{
  color: gray;
}
.floorSelect>div{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
#floorSelectBack{
  background-color: rgba(200,0, 0, 0.5);
}
#floorSelectForward{
  background-color: rgba(0,200, 0, 0.5);
}
#fightSides{
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
}
.fightSide{
  min-width: 225px;
  margin-top: 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 5px;
  
}
.fightSideTitle{
  text-align: center;
  font-size: xx-large;
}
.progressBar{
  width: 90%;
  height: 25px;
  padding: 5px;
  margin: auto;
  border-radius: 30px;
  text-align: center;
  font-size: x-large;
}
#floorEnemiesKilledToBoss{
  border: 1px solid yellow;
}
#floorEnemiesKilledToClear{
  border: 1px solid orange;
}
#playerHealthBar, #enemyHealthBar{
  border: 1px solid red;
}
#playerAttackBar, #enemyAttackBar{
  border: 1px solid blue;
}
#attackToggle{
  border: 2px solid red;
  background-color: rgba(255,0, 0, 0.75);
  padding: 15px;
  border-radius: 25px;
  font-size: larger;
  margin: auto;
}
.goldReward{
  font-size: larger;
  text-align: center;
}
.fightSide>ul{
  margin: auto;
  list-style-type: none;
  font-size: larger;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fightSide>ul>li{
  min-width: 40%;
  text-align: center;
  margin-bottom: 5px;
}

table{
  display: block;
  border: 3px solid gray;
  border-radius: 15px;
  border-collapse: collapse;
  font-size: larger;
}
caption{
  padding: 5px;
  font-size: x-large;
}
tr{
  transition-duration: 0.3s;
}
tr:hover{
  background-color: rgba(128, 128, 128, 0.5);
}
th{
  padding: 5px;
}
td{
  padding: 3px;
  text-align: center;
  border: none;
}

.inactiveAutoDelete{
  opacity: 0.5;
  transition-duration: 0.5s;
}
.inactiveAutoDelete>svg{
  fill: gray;
  transition-duration: 0.5s;
}
.inactiveAutoDelete:hover{
  opacity: 1;
}
.inactiveAutoDelete:hover>svg{
  fill: rgba(255,0, 0, 0.75);
}

.activeAutoDelete{
  opacity: 1;
  transition-duration: 0.5s;
}
.activeAutoDelete>svg{
  fill: red;
  transition-duration: 0.5s;
}
.activeAutoDelete:hover{
  opacity: 0.5;
}
.activeAutoDelete:hover>svg{
  fill: rgba(128, 128, 128, 0.5);
}

@media screen and (max-height:420px) {
  .fightSide{
    max-height: 300px;
    overflow-y: auto;
  }
}

.inventoryView{
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.equippedItems{
  flex: 4;
  position: relative;
  height: fit-content;
  text-align: center;
}
.armorItems{
  position: absolute;
  transform: translateX(-47%);
  top: 50px;
  left: 49%;
  display: flex;
  flex-direction: column;
  gap: 75px;
}
.handHeldItems{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
}
.storedItems{
  flex: 6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-height: fit-content;
  gap: 5px;
  min-width: 150px;
}
.storedItem{
  width: 64px;
  height: 64px;
  border: 3px solid gray;
  border-radius: 10px;
  position: relative;
}
.storedItem>img{
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  border: 3px solid gray;
  border-radius: 10px;
  cursor: grab;
}

.rarityCommon{
  background-color: rgba(128, 128, 128, 0.5);
}
.rarityUncommon{
  background-color: green;
}
.rarityRare{
  background-color: blue;
}
.rarityEpic{
  background-color: purple;
}
.rarityLegendary{
  background-color: orange;
}
.rarityMythic{
  background-color: red;
}
.rarityDivine{
  background-color: yellow;
}

.hiddenPart{
  display: none;
}
.itemDescription{
  position: absolute;
  left: -150px;
  background-color: gray;
  border: 2px solid rgba(64, 64, 64, 1);
  text-align: center;
  z-index: 20;
  width: 150px;
  height: 230px;
  border-radius: 5px;
}
.itemDescription>span{
  padding: 10px;
}
.itemActions{
  position: absolute;
  bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;
  border-top: 1px solid rgba(64, 64, 64, 1);
}
.itemAction{
  flex: 1;
  padding: 10px;
  transition-duration: 0.3s;
}
.itemAction:hover{
  background-color: rgba(64, 64, 64, 0.5);
}
.itemAction:first-of-type{
  border-right: 1px solid rgba(64, 64, 64, 1);
}

#playerGold{
  text-align: center;
  font-size: x-large;
  padding: 20px;
}
#hideBoughtUpgrades{
  margin: auto;
  width: fit-content;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 15px;
  font-size: larger;
  text-align: center;
  transition-duration: 0.5s;
}
#hideBoughtUpgrades:hover{
  transform: scale(1.15);
}
#upgradeBoards{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.upgradeBoard{
  min-width: 250px;
  max-width: 333px;
  display: flex;
  flex-direction: column;
  font-size: larger;
  text-align: center;
  border: 1px solid gray;
}
.upgradeBoardTitle{
  padding: 15px;
  font-size: x-large;
  border-bottom: 1px solid gray;
}
.upgrade{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
.upgradeCost{
  padding: 10px;
  flex: 1;
}
.upgradeText{
  flex: 3;
  border-right: 1px solid gray;
}
.upgradeTitle{
  padding: 5px;
  border-bottom: 1px solid gray;
}
.upgradeDescription{
  padding: 7px;
}
.boughtUpgrade{
  background-color: rgba(0,200, 0, 0.5);
}
.purchaseableUpgrade{
  background-color: rgba(0,200, 0, 0.5);
  transition-duration: 0.5s;
}
.upgrade:hover>.purchaseableUpgrade{
  background-color: rgba(0,200, 0, 0.25);
}